---
layout: page
title: Categories
---

<div>
  <div class="left" style="top:20px;left:30px;position:absolute;">
    <a href="{{site.baseurl}}/#blog" class="white-text waves-effect waves-lighten btn-flat indigo lighten-1 btn-large">
       <i class="icon ion-md-arrow-back"></i>
    </a>
  </div>
  <div class="container center-align">
    <h1><b>CATEGORIES</b></h1>
    {% for category in site.categories %}
    <a href="#{{ category[0] | relative_url }}" class="waves-effect waves-teal btn-flat indigo lighten-4 blue-text"><i class="icon ion-md-bookmark"></i>   {{ category[0] }}</a>
    {% endfor %}
  </div>
  <br>
  <div class="divider"></div>
  <br><br>
  {% for category in site.categories %}
  <div class="container">
    <div class="collection with-header">
      <li class="collection-header"><h3 id="{{ category[0] | relative_url}}">{{ category[0] }}</h3></li>
      {% for post in category[1] %}
      <a href="{{ site.baseurl }}{{ post.url }}" class="collection-item">
        {{ post.title }}
        |
        <span class="light-text">{{ post.date | date_to_string }}</span>
      </a>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
