<!-- Import scripts -->

<script src="{{ "/assets/js/jquery.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/materialize.min.js" | relative_url }}"></script>
<script type="text/javascript">
$(document).ready(function(){
  $('.sidenav').sidenav({edge:'right'});
  $('.parallax').parallax();
  $(".post-container > p > img").addClass('materialboxed');
  $('.materialboxed').materialbox();
    var winHeight = $(window).height(), 
      docHeight = $(document).height(),
      progressBar = $('#main-progress-bar-reading'),
      max, value;

  /* Set the max scrollable area */
  max = docHeight - winHeight;

  $(document).on('scroll', function(){
     value = $(window).scrollTop();
     var lol = (value/max) * 100;
     console.log(lol);
     progressBar.css("width", ""+lol+"%")
  });
});
$(window).on('load', function() {
  $('.preloader-wrapper').fadeOut();
  $('.preloader-container').delay(350).fadeOut('slow');
  $('body').delay(350).css({'overflow':'visible'});
})


</script>


<!-- Add personal script here -->
<script type="text/javascript">

</script>
