<ul id="slide-out" class="sidenav blue-grey base white-text center-align">
  <li><h4 style="padding: 20px">{{site.title}}</h4></li>
  <div class="container">
    <div class="divider">
  </div>

  <li>
    <a class="waves-effect white-text nav-links" href="{{site.baseurl}}">Home</a>
  </li>
  <div class="container">
  </div>
  <li>
    <a class="waves-effect white-text nav-links" href="{{ site.project-site | default: site.baseurl}}">About</a>
  </li>
  <div class="container">
  </div>
  <li>
    <a class="waves-effect white-text nav-links" href=" {{ site.github_link }} ">Github</a>
  </li>
  <div class="container">
  </div>
  <li>
    <a class="waves-effect white-text nav-links" href="{{ site.youtube_link }}">Youtube</a>
  </li>
<div class="container"><div class="divider"></div></div>
<br>
  <a class="sidenav-close white-text">
    <i class="icon ion-md-close small center-align"></i>
  </a>
</ul>

<a data-target="slide-out" class="sidenav-trigger main-trigger btn-floating btn-large waves-effect waves-light blue lighten-2 pulse">
  <i class="icon ion-md-menu"></i>
</a>
