---
layout: default
---
<div class="parallax-container">
  <div class="parallax"><img src="{{ "/assets/img/home-banner.png" | default: "/assets/img/default.png" }}"></div>
  <div class="container first-parallax">
    <h1 class="center white-text">{{ site.title }} </h1>
    <h4 class="center hide-on-med-and-down white-text">{{site.profession}}</h4>
  </div>
</div>
<div class="container" id="blog">
  {{ content }}
  <h1 class="center-align bold">BLOG</h1>
  <br>
    <div class="row">
      <div class="input-field col s12">
        <i class="icon ion-md-book prefix"></i>
        <input type="text" id="search-posts">
        <label for="search-posts">Search</label>
      </div>
    </div>

  <div class="row center-align">
    <div class="col m4 s12"><a onclick="redirectToPost(document.getElementById('search-posts').value)" class="btn center-align waves-effect waves-light"><i class="left icon ion-md-search"></i>Search</a></div>
    <div class="col m4 s12"><a href="{{ "/assets/fixed-pages/categories.html" }}" class="btn center-align indigo lighten-2 waves-effect waves-light"><i class="left icon ion-md-apps"></i>Search By Category</a></div>
    <div class="col m4 s12"><a href="{{ "/assets/fixed-pages/tags.html" }}" class="btn center-align red lighten-1 waves-effect waves-light"><i class="left icon ion-md-pricetags"></i>Search By Tag</a></div>
  </div>
    
  <br>
  <div class="row">
    {%- if site.posts.size > 0 -%}
      {%- for post in site.posts -%}
    <div class="col s12 m6">
      <div class="card hoverable">
        <div class="card-image">
          <img src="/images/{{ post.banner | default: "default.png"}}">

          <a class="btn-floating halfway-fab waves-effect waves-light teal lighten-2 btn-large hide-on-small-only" href="{{post.url}}">
            <i class="icon ion-md-eye"></i>
          </a>
        </div>
        <div class="card-content">
          {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
          <span class="light-text">{{ post.date | date: date_format }}</span>
          <span class="card-title">{{ post.title }}</span>
          <br>
          {{ post.excerpt }}
          <br><br>
          {% for tag in post.tags %}
          <div class="chip">
            <b>{{ tag }}</b>
          </div>
          {% endfor %}
        </div>
        <div class="card-action center-align teal lighten-1">
          <a href="{{ post.url }}">Read More</a>
        </div>
      </div>
    </div>
      {%- endfor -%}
    {%- endif -%}
  </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
  $('input#search-posts').autocomplete({
    data: {
      {%- for post in site.posts -%}
      "{{ post.title }}":null,
      {%- endfor -%}
    },
    onAutocomplete: function catsAreGreat() {redirectToPost(document.getElementById('search-posts').value)},
  });
});
function redirectToPost(postTitle) {
  {%- for post in site.posts -%}
  if (postTitle == "{{ post.title }}"){location.href = "{{ post.url }}"}
  {%- endfor -%}
}

</script>
